.carousel {
  position: relative;

  > div {
    overflow: hidden;
  }

  &-content {
    display: flex;

    &.vertical {
      flex-direction: column;
    }
  }

  &-item {
    min-width: 0;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;

    &.horizontal {
      padding-left: var(--space-base);
      padding-top: var(--space-none);
    }
  }

  &-prev,
  &-next {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: var(--border-radius-circle);
  }

  &-prev {
    &.horizontal {
      left: calc(var(--space-xl) * -1);
      top: 50%;
      transform: translateY(-50%);
    }

    &.vertical {
      left: 50%;
      top: calc(var(--space-xl) * -1);
      transform: translateX(-50%) rotate(90deg);
    }
  }

  &-next {
    &.horizontal {
      right: calc(var(--space-xl) * -1);
      top: 50%;
      transform: translateY(-50%);
    }

    &.vertical {
      left: 50%;
      bottom: calc(var(--space-xl) * -1);
      transform: translateX(-50%) rotate(90deg);
    }
  }
}
