@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    /* //@apply border-border; */
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
.border-border {
  border-color: hsl(var(--border))
}

.border-border\/40 {
  border-color: hsl(var(--border)/.4)
}

.border-border\/50 {
  border-color: hsl(var(--border)/.5)
}
.hover\:border-border:hover {
  border-color: hsl(var(--border))
}
.group.toaster .group-\[\.toaster\]\:border-border {
  border-color: hsl(var(--border))
}


.bg-background {
  background-color: hsl(var(--background))
}

.bg-background\/80 {
  background-color: hsl(var(--background)/.8)
}

.bg-background\/90 {
  background-color: hsl(var(--background)/.9)
}

.bg-background\/95 {
  background-color: hsl(var(--background)/.95)
}

.data-\[state\=active\]\:bg-background[data-state=active] {
  background-color: hsl(var(--background))
}
.group.toaster .group-\[\.toaster\]\:bg-background {
  background-color: hsl(var(--background))
}
/*@supports ((-webkit-backdrop-filter: var(--tw )) or (backdrop-filter:var(--tw ))) {
  .supports-\[backdrop-filter\]\:bg-background\/60 {
    background-color:hsl(var(--background)/.6)
  }
}*/


.text-foreground {
  color: hsl(var(--foreground))
}

.text-foreground\/50 {
  color: hsl(var(--foreground)/.5)
}

.text-foreground\/60 {
  color: hsl(var(--foreground)/.6)
}
.hover\:text-foreground:hover {
  color: hsl(var(--foreground))
}

.hover\:text-foreground\/80:hover {
  color: hsl(var(--foreground)/.8)
}
.group.toaster .group-\[\.toaster\]\:text-foreground {
  color: hsl(var(--foreground))
}
.data-\[state\=active\]\:text-foreground[data-state=active] {
  color: hsl(var(--foreground))
}
.\[\&\>svg\]\:text-foreground>svg {
  color: hsl(var(--foreground))
}
.\[\&_svg\]\:text-foreground svg {
  color: hsl(var(--foreground))
}
