.resizable {
  display: flex;
  height: 100%;
  width: 100%;

  &[data-panel-group-direction="vertical"] {
    flex-direction: column;
  }

  &__resize-handle {
    align-items: center;
    background-color: hsl(var(--border));
    display: flex;
    justify-content: center;
    position: relative;
    width: 1px;

    &:after {
      bottom: 0;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 1px;
    }

    &[data-panel-group-direction="vertical"] > div {
      transform: rotate(90deg);
    }

    &[data-panel-group-direction="vertical"] {
      height: 1px;
      width: 100%;

      &:after {
        height: var(--space-xs);
        left: 0;
        transform: translateY(-50%) translateX(0);
        width: 100%;
      }
    }

    &:focus-visible {
      outline: 2px solid hsl(var(--ring));
      outline-offset: 2px;
    }
  }

  &__panel-handle {
    align-items: center;
    border: var(--border-size-s) solid hsl(var(--border));
    border-radius: var(--border-radius-soft);
    display: flex;
    height: var(--space-base);
    justify-content: center;
    width: var(--space-s);
    z-index: 10;
  }
}
