/* Usefull - Colors Brand */
////
/// @group UsefullClasses-Colors_Brand
/// Usefull - Colors Brand

///
.bg {
  &-primary {
    background-color: var(--color-primary) !important;

    &-lightest {
      background-color: var(--color-neutral-0) !important;
    }
  }

  &-secondary {
    background-color: var(--color-secondary) !important;

    &-lightest {
      background-color: var(--color-neutral-0) !important;
    }
  }
}

///
.text {
  &-primary {
    &,
    &-darker {
      color: var(--color-primary) !important;
    }

    &:hover {
      color: var(--color-primary) !important;
    }
  }

  &-secondary {
    &,
    &-darker {
      color: var(--color-secondary) !important;
    }
  }
}
