.scroll-area {
  position: relative;
  overflow: hidden;

  &__viewport {
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }

  &__scrollbar {
    display: flex;
    touch-action: none;
    user-select: none;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    &--vertical {
      height: 100%;
      width: 0.625rem;
      border-left-width: 1px;
      border-left-color: transparent;
      padding: 1px;
    }

    &--horizontal {
      height: 0.625rem;
      flex-direction: column;
      border-top-width: 1px;
      border-top-color: transparent;
      padding: 1px;
    }
  }

  &-thumb {
    background-color: hsl(var(--border));
    border-radius: var(--border-radius-rounded);
    flex: 1;
    position: relative;
  }
}
